*{margin: 0; padding: 0;}
.navbar-collapse{overflow: auto;}
.w-50{width: 50%;}
.w-100{width: 100%;}
.h-100{height: 100%;}
body{color: #555555; font-family: 'Roboto', sans-serif;}
html{scroll-behavior: smooth;}
.bg-grey{background-color: #F1F1F1;}

.text-center {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

.container
{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    height: 100%;
   

}
   
    
.header-area
{
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 99;
    
}

.header-area .nav-bar
{
    
    display: flex;
    justify-content: space-between;
    
}






.header-area .nav-right ul
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}



.header-area .nav-right li
{
    
    display: inline-block;
    transition: all 0.4s ease-in-out 0s;
    
}

/* .header-area .nav-right li a
{
    transition: all 0.4s ease-in-out 0s;
} */

.header-area .nav-right li :hover {
    color: #ff305b; 
    transition: all 0.4s ease-in-out 0s;
    
}
.header-area .nav-right li.active a {
    color: #ff305b;
}




.header-area .nav-right a 
{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.header-area .nav-left .logo
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-area .nav-left .logo a
{
    text-decoration: none;
    color: #FF305B;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}


/*<================================ slider start ======================> */
.slider
{
    height: 100vh;
    position: relative;
    background: url(../images/slider/slider-01.jpg) repeat scroll center center / cover;
}

.darken-overlay
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.slider-text-area
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider .slider-text
{
    
    text-align: center;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    
   
}
.slider h1
{
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.1;
    
}
.slider p
{
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    
}


.slider h2 
{
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 1.2;
    box-sizing: border-box;
   
    
    
}

.slider-text h2 {
    color: #fff;
    position: relative;
    animation: type 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955),move 1s infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    
}

.cd-words-wrapper::before
{
    content: "";
    animation: changeword 2s infinite alternate;
}

@keyframes changeword
{
    0%{content: "Designer";}
    100%{content: "Developer";}
}




@keyframes type{
    0%{width: 25ch; }
    100%{width: 15ch; }
}

@keyframes move
{
    0%{left: 5%;}
    100%{ left: 25%;}
}

/*<================================ slider-area start ======================> */


/*<================================ about-area start ======================> */
.about-area
{
    height: 665px;
    width: 100%;
}

.about-area .container 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content 
{
    
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.about-left
{
    display: flex;
    justify-content: center;
}

.about-box
{
    position: relative;
    width: 360px;
    height: 440px;
   
    
    border: 1px solid #555555;
    border-radius: 5px;
    box-shadow: 0 0 0 8px #555555 inset;

}

.about-img
{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 25px;
    top: 25px;
    
    
   
}
.about-img img
{
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.profile-overlay{
    
    background: rgba(0, 0, 0, 0.57) none repeat scroll 0 0;
    position: absolute;
    
    bottom: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.about-area .about-box:hover .profile-overlay  {
    height: 100%;
    visibility: visible;
    opacity: 1;
    
}

.profile-overlay ul
{
    list-style: none;
    
    
}
.profile-overlay li
{
    display: inline-block;
    box-sizing: border-box;
}
.profile-overlay a
{
    
    display: block;
    font-size: 20px;
    height: 20px;
    width: 32px;
    color: #fff;

}

.about-right
{
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 1;
}

.about-right .about-desc h2
{
    font-size: 34px;
    font-weight: 500;
    line-height: 22px;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 10px;
    font-family: inherit;
    color: #333;
    display: block;
}

.about-right .about-desc h2:after {
    background: #ff305b none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}
.about-desc > p {
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    padding-bottom: 25px;
    margin: 0 0 15px;
    font-size: 17px;
    font-family: inherit;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-weight: 500;
    
    
}
.about-cv ul
{
    
    list-style: none;
    padding-right: 70px;
    margin-right: 20px;
    font: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between ;
}

.about-cv li
{
    width: 50%;
    padding-bottom: 20px;
}

.about-cv li a {
    text-decoration: none;
    color: #7e7e7e;
}
.about-cv span
{
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
}

.download-cv-btn > a
{
    background: #ff305b none repeat scroll 0 0;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    padding: 14px 24px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}
.download-cv-btn > a i {
    margin-left: 5px;
}
.download-cv-btn a:hover {
    background-color: #EC2403;
}

/* .social-icon
{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
} */
/*<================================ about-area end ======================> */

/*<================================ services start ======================> */
.service-section
{
    height: 505.4px;
    line-height: 1.6em;

}
.services-main
{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.services-header
{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 30%;


}

.services-items
{
    width: 100%;
    height: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.service-title h2
{
        font-size: 40px;
        font-weight: 800;
        line-height: 30px;
        padding-bottom: 30px;
        position: relative;
        text-transform: capitalize;
        font-family: 'Source Sans Pro', sans-serif;
        color: #333;
        
}
.service-title h2:after, .service-title h2:before {
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.service-title h2:before {
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: 0;
    padding: 4px 0 5px;
    width: 70px;
    
}
.service-title h2:after {
    background-color: #ff305b;
    bottom: 5px;
    height: 1px;
    width: 160px;
}
.single-service
{
    text-align: center;
    width: 25%;
}

.single-service-inner {
    padding: 40px 15px;
    transition: all 0.3s ease-in-out 0s;
}
.single-service i {
    color: #ff305b;
    display: block;
    font-size: 36px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out 0s;
}

.single-service-inner > h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.single-service:hover .single-service-inner {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.single-service:hover .single-service-inner i {
    transform: scale(1.2);
}

.section-title h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    margin-top: 50px;
    padding-top: 40px;
    position: relative;
    text-transform: capitalize;
}
.section-title h2:after, .section-title h2:before {
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.section-title h2:before {
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: 0;
    padding: 4px 0 5px;
    width: 70px;
}
.section-title h2:after {
    background-color: #ff305b;
    bottom: 5px;
    height: 1px;
    width: 160px;
} 


/*<================================ services start ======================> */
.portfolio-area
{
    height: 933.75px;
}
.portfolio-menu {
    margin-bottom: 50px;
}
.portfolio-menu a.active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #ff305b;
}


.portfolio-menu a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}
.portfolio-parent
{
    height: 598.3px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.portfolio-items
{
    height: 299.15px ;
    width: 390px;
    padding: 20px;
    box-sizing: border-box;
}

.portfolio
{
    width: 100%;
    height: 100%;
    position: relative;
   
}

.portfolio img
{
    width: 100%;
    height: 100%;
}

.portfolio a:hover:after {
    opacity: .5;
    visibility: visible;
    
}

.portfolio a:hover .portfolio-view {
    opacity: 1;
    visibility: visible;
    
}

.portfolio a:after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: all 0.4s ease 0s;
}
.portfolio-view {
    bottom: 15px;
    color: #ff305b;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    right: 15px;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    opacity: 0;
}

/*<================================ portfolio end ======================> */

/*<================================ fun-facts start ======================> */
.fun-facts-area
{
height: 296.2px;
}

.fun-facts-area .container
{
    height: 100%;
    display: flex;
    align-items: center;
}

.fun-facts-items
{

    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.facts-icon i {
    color: #ff305b;
    font-size: 26px;
    margin-bottom: 15px;
}
.single-counter h3 {
    font-size: 26px;
    font-weight: 800;
}
.single-counter h5 {
    color: #555555;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}



/*<================================ fun-facts end ======================> */

/*<================================ testimonial start ======================> */
.testimonial-area
{
    height: 550.8px;
    box-sizing: border-box;
}
.testimonel-item
{
    
    position: relative;
    overflow: hidden;
}

.red-div {
    height: 382px;
    width: 382px;
    background-color: #ff305b;
    position: absolute;
    right: 77%;
    bottom: 50%;
    z-index: 0;
    transform: rotate(42deg);
}

/* .testimonel-item:after {
    border-color: #ff305b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 50px;
    content: "";
    height: 72px;
    left: -199px;
    width: 77px;
    z-index: 1;
} */

.testimonial-body
{
    
    display: flex;
    justify-content: center;
    
}



.owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}


.owl-dot.active {
    background: #ff305b none repeat scroll 0 0;
    border-radius: 10px;
    padding: 4px 12px;
}



.owl-dot {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ff305b;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 3px;
    width: 10px;
    box-sizing: border-box;
}

.testimonel-desc
{
    height: 273.4px;
    width: 750px;
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 5px;
    padding: 40px;
    box-sizing: border-box;
   
}

.testimonel-desc-part1
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}

.testimonial-description
{
    margin: 0px 0px 0px 25px;
}
.testimonial-description > p {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.6em;
}

.testimonial-description h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.testimonial-description a {
    color: #777777;
    font-size: 15px;
    text-decoration: none;
}
.review-reating
{
    margin: 15px 0px;
    color: #f1c30d;
}
.testimonel-desc img
{
    height: 110px;
    width: 110px;
    border: 1px solid transparent;
    border-radius: 100%;
    margin-top: 20px;
}

/*<================================ testimonial end ======================> */
.blog-area
{
height: 757.3px;
}

.blog-area-body
{
    display: flex;
    justify-content: center;
}

.post-content h3 a, .post-read > a {
    color: #333333;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
.post-content h3 a:hover, .post-read > a:hover {
    color: #ff305b;
}
.blog-area-body-item
{
    background-color: #fff;
    margin-left: 30px;
    width: 390px;
    height: 457.4px;
    overflow: hidden;
}

.blog-area-body-item img
{
    width: 100%;
    height: 202.2px;
}
.blog-area-body-item  iframe
{
    width: 100%;
    height: 202.2px;
}
.post-meta
{
    margin:15px 0px 10px 15px;
    

}
.post-content
{
    padding: 20px;
}
.post-content a
{
    text-decoration: none;
    color: #333;
}

.post-content p
{
    padding: 15px 0px;
}

.footer-area {
    height: 164.8px;
    background: #333333 none repeat scroll 0 0;
    
    text-align: center;
}

.footer-middle
{
    height: 100%;
    display: flex;
    justify-content: center;
}
.footer-items ul
{list-style: none;}
.footer-items li
{
    display: inline-block;
}
.footer-items
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.footer-social-icon li a {
    color: #ffffff;
    display: block;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    padding: 0 10px;
    transition: all 0.3s ease 0s;
}

.footer-social-icon li a:hover {
    color: #ff305b;
}

.copy-right {
    color: #ffffff;
    margin: 0;
}

.copy-right a {
    color: #ff305b;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.copy-right a:hover {
    text-decoration: underline;
}

.contact-area
{
    height: 618.4px;
}
.form-group input 
{
    height: 40px;
    padding: 15px; 
    margin: 0px 0px 25px 0px;
    
}
.controls-first-row .form-group input {
   
    width: 360px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.controls-first-row
{
    display: flex;
    justify-content: space-between;
}
.contact-form-parent
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-from
{
    height: 289px;
    width: 750px;
}

.contact-from .btn-success {
    background-color: #ff305b;
    border-color: #ff305b;
    color: #ffffff;
    opacity: 1;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
    height: 40px;
    line-height: 38px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}